.c-custom-can-view-result {
  width: 500px;
}

.c-custom-can__aim-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.magic-background-light {
  position: absolute;
  left: 260px;

  width: 247px;
  height: 685px;
  flex-shrink: 0;

  border-radius: 685px;
  background: #1243FF;
  filter: blur(150px);
}