.soda-container {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.soda-layer {
  position: absolute;
  top: 0;
  left: -195px;
  width: 640px;
  height: 640px;
}

.shadows-layer {
  width: 640px;
  height: 640px;
  mix-blend-mode: multiply;
}

.coda-caps-colored {
  height: 640px;
  width: 658px;
  left: -204px;
}

.can-background {
  height: 642px;
  top: -1px;
}

.can-background img:not([src]), img[src=""] {
  display: none; /* Hides the img element */
}