.soda-container {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.soda-layer {
  position: absolute;
  top: 0;
  left: -195px;
  width: 640px;
  height: 100%;
}

.shadows-layer {
  width: 640px;
  height: 640px;
  mix-blend-mode: multiply;
}

.label-color {
  top: -31px;
}

.coda-caps-colored {
  height: 640px;
}