.soda-editor {
  text-align: center;
}

.soda-container {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 0 auto;
}

.soda-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label-color {
  background-color: red; /* default color */
  mix-blend-mode: multiply;
  opacity: 1;
}
